

//     -------------------------------------------------------------     -------------------------------------------------------------
//  0  |     1     |     2     |     3     |     4     |     5     |     |     6     |     7     |     8     |     9     |    10     |  11
// 12  |    13     |    14     |    15     |    16     |    17     |     |    18     |    19     |    20     |    21     |    22     |  23
// 24  |    25     |    26     |    27     |    28     |    29     |     |    30     |    31     |    32     |    33     |    34     |  35
//     ------------------------|    36     |    37     |    38     |     |    39     |    40     |    41     |------------------------
//                            -------------------------------------     -------------------------------------
//
//      VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
//
//     -------------------------------------------------------------     -------------------------------------------------------------
//     |    KL15   |    KL14   |    KL13   |    KL12   |    KL11   |     |    KR11   |    KR12   |    KR13   |    KR14   |   KR15    |
//     |    KL25   |    KL24   |    KL23   |    KL22   |    KL21   |     |    KR21   |    KR22   |    KR23   |    KR24   |   KR25    |
//     |    KL35   |    KL34   |    KL33   |    KL32   |    KL31   |     |    KR31   |    KR32   |    KR33   |    KR34   |   KR35    |
//     ------------------------|    KL43   |    KL42   |    KL41   |     |    KR41   |    KR42   |    KR43   |------------------------
//                            -------------------------------------     -------------------------------------

#define KL11 5
#define KL12 4
#define KL13 3
#define KL14 2
#define KL15 1

#define KL21 17
#define KL22 16
#define KL23 15
#define KL24 14
#define KL25 13

#define KL31 29
#define KL32 28
#define KL33 27
#define KL34 26
#define KL35 25

#define KL41 38
#define KL42 37
#define KL43 36


#define KR11 6
#define KR12 7
#define KR13 8
#define KR14 9
#define KR15 10

#define KR21 18
#define KR22 19
#define KR23 20
#define KR24 21
#define KR25 22

#define KR31 30
#define KR32 31
#define KR33 32
#define KR34 33
#define KR35 34

#define KR41 39
#define KR42 40
#define KR43 41
